body{
font-family: 'Merriweather', serif;

}

.banner{
font-size:1em;
background-color:#2f3a4c;
color:white;
text-align:center;
padding:25px;
font-weight:bold;
}

.newsletter{
font-size:1em;
color:#2f3a4c;

}

.faint{
font-size:1em;
color:#000;
float:left;
}

.header{
border-bottom:4px solid #2f3a4c ;
margin-bottom:2px;
}

.contact-information{
border-top:2px solid #2f3a4c;
background-color:#7c7153;
width:100%;

}

label{
width:150px;
}


input{
background-color:#e8ebef;
padding:10px;
border-radius:5%;


}

select{
background-color:#e8ebef;
border-radius:5%;
padding:10px
}

.news{

font-size:1.5em;
color:#2f3a4c;
font-weight:bold;

}

.news-info{
color:#555759;
background-color:#cdd671;
}


.text-area{
font-size:1em;
margin-top:10px;

}

textarea{

margin:auto;
background-color:#e8ebef;
border-radius:5px;
padding:20px;
}



button{
background-color:#88b4fc;
width:100%;
padding:20px;
color:white;
font-size:1.5em;
border-radius:5px;
}

footer{
font-style:italic;
color:#b6bac1;
}

input:focus{
background-color:#d69671;

}


.faded{
color:#b6bac1;

}

.contact{
font-size:1.5em;
color:#2f3a4c;
font-weight:bold;
}











@media(max-width:320px){

.text-field{
width:90%;
}


.faint{

margin-top:10px;
}



}














@media(min-width:768px){

.header{
text-align:center;
}



.contact-information{
text-align:center;
width:75%
border-top:2px solid #2f3a4c;
background-color:#0a89d8

}

select{
text-align:left;
}

input{
width:auto;
}


.news{
text-align:center

}

.news-info{
text-align:left;
width:75%;
}

.text-area{
text-align:left;
margin-top:10px;
}

textarea{
width:60%;
padding:25px;
margin-top:10px;
}

footer{
text-align:center;
}

button{
margin-top:10px;
}

input:focus{
background-color:lightblue;
}





.news-info{
color:white;
background-color:#07466d;
}


.faint{
float:left;
display:inline-block;
margin-top:10px;

}

.text-field{
margin-right:50%;
margin-top:5px;
margin-bottom:10px;
margin-left:0;
}




.contact,
.news{
text-align:left;
}

button{
width:50%;
}

footer{
text-align:left;
}

.selection{
text-align:center;
margin-right:20px;
width:auto;

}


}
















@media(min-width:321px) and (max-width:767px){


.selection{
text-align:center;
margin-right:20px;
width:auto;

}




.faint{
text-align:center;
display:inline-block;
margin-top:10px;
float:left;
}


.text-field{
margin-right:auto;
margin-top:5px;
margin-bottom:10px;
margin-left:auto;

}

.contact-information{
background-color:silver;
text-align:center;
}


textarea{
width:89%;

}


.news-info{
text-align:center;
}










}








